.attribution {
    font-size: 11px; text-align: center;
    margin: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2, h4, p {
    margin: 0;
}

#card {
    width: 600px;
    height: 350px;
    border: 3px solid red;
}

#top-section {
    width: 100%;
    height: 40%;
    border: 2px solid green;
}

#bottom-section {
    width: 100%;
    height: 60%;
    border: 2px solid blue;
}

#bottom-left-section{
    width: 50%;
    height: 100%;
    border: 2px solid chartreuse;
    display: inline-block;
    vertical-align:top;
}

#bottom-right-section{
    width: 50%;
    height: 100%;
    border: 2px solid chartreuse;
    display: inline-block;
    vertical-align:top;
}